<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qz.dao.interestedMapper">
    <insert id="setInterested" useGeneratedKeys="true" keyProperty="iid" parameterType="Interested">
        insert into cityTownWeb.interested(uid,jid)
        values (#{uid},#{jid});
    </insert>
    <delete id="delInterested" parameterType="int">
    delete from cityTownWeb.interested where iid=#{iid}
    </delete>
    <select id="queryAllInterestedByUid" resultType="Interested">
         select * from cityTownWeb.interested
         where uid = #{uid}
    </select>
    <select id="queryAllInterestedByUid" resultType="Interested">
        select i.iid,j.jname,j.jsalary,j.jmethod,j.jrtime from cityTownWeb.interested as i,cityTownWeb.job as j
        where i.jid=j.jid and i.uid=#{uid}
    </select>
    <select id="queryAllInterestedNum" resultType="int">
        select count(*)from
        (select * from cityTownWeb.interested
        where uid=#{uid})assum
    </select>
</mapper>