<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qz.dao.jobMapper">
    <insert id="addJob" parameterType="Job">
        insert into cityTownWeb.job(jname,jedu,jexperience,jage,jsalary)
        values jname=#{jname},jedu=#{jedu},jexperience=#{jexperience},jage=#{jage},jsalary=#{jsalary};
    </insert>
    <update id="updateJob" parameterType="Job">
        update cityTownWeb.job
        set eminfor=#{eminfor}
        where cid=#{cid};
    </update>
    <delete id="delcomment" parameterType="int">
    delete from cityTownWeb.job
    where jid=#{jid}
    </delete>
    <select id="queryAllJobByMid" resultType="Job">
         select * from cityTownWeb.job
         where jid = #{jid}
    </select>
    <select id="queryAllJob" resultType="Job">
        select * from cityTownWeb.job
    </select>
</mapper>