/* 白色标题栏 */

body {
    background-color: #fcfaf8;
    color: #666;
}

.headline {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.big-font {
    position: relative;
    color: #ff8357;
    font-size: 2em;
    font-weight: 700;
}

.small-font {
    position: relative;
    color: #ff8357;
    font-size: 0.5em;
}

.top-font {
    color: #ff8357;
}

.center-font {
    position: relative;
    top: 16px;
}

.content {
    margin-top: 20px;
    width: 90%;
}


/* 左侧导航 */

ul {
    padding: 0;
}

li {
    list-style: none;
}

.choice-box {
    background-color: #fcf5ef;
}

.img-head {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 100px;
}

.shop-name {
    text-align: center;
    color: #ff6531;
}

.choice {
    text-align: center;
    height: 30px;
    color: #666;
    margin: 30px;
    line-height: 0px;
}

#chosen {
    color: #ff6531;
    background-color: #fff;
}


/* 右侧内容 */

.right-part {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 200px;
}

.line-title {
    font-size: 1.3em;
    color: #ff6531;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}


/* 岗位 */

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.add_button {
    background-color: #ff6531;
    border: none;
    color: #fff;
    padding: 8px;
    width: 150px;
    margin: 1px;
}
.icon {
    width: 15px;
}

.history {
    padding: 0px;
}

.delet_button {
    background-color: #999999;
    border: none;
    color: #fff;
    padding: 8px;
    width: 120px;
    margin: 1px;
}

.offer_name {
    font-size: 1.3em;
}

.small-text {
    font-size: 1em;
    color: #666;
}

#offer_list td {
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding-left: 40px;
}

#offer_list tr {
    margin-top: 20px;
    height: 70px;
}

.offer {
    background-color: #fcfaf8;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    padding: 15px 25px;
    margin: 10px 10px;
    border: none;
}