body{
	background-color: #fcfaf8;
	color: #666;
}
ul{
	padding: 0;
}
li{
	list-style: none;
}
.headline {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.big-font {
	font-size: 2em;
	font-weight: 700;
}

.small-font {
	font-size: 0.9em;
}

.top-font {
	color: #ff8357;
}

.center-font {
	position: relative;
	top: 16px;
}
.img-head{
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 100px;
}
.choice-box{
	background-color: #fcf5ef;
}
.choice{
	text-align: center;
	height: 30px;
	color: #666;
	margin: 30px;
}
.shop-name{
	text-align: center;
	color: #ff6531;
}
.show-info{
	background-color: #fff;
	margin: 10px;
	padding: 10px;
}
.cube{
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #ff8357;
	box-shadow: 2px 2px 0 0 #ccc;
}
.line-title{
	font-size: 1.5em;
	color: #666;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
}
.edit{
	padding-left: 10px;
	color: #ff6531;
}
.li-line{
	padding: 10px;
	color: #666;
}
.li-title{
	padding-right:  10px;
}
.type{
	margin-left: 5px;
	margin-right: 5px;
}
.grey-font{
	color: #ccc
}
.advan{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
}
.comment-box{
	background-color: #fff;
	padding:10px;
}
.comment-title{
	font-size: 2em;
	margin: 20px;
}
.comment-head{
	display: inline-block;
	height: 40px;
	width: 40px;
	border: 1px solid #ccc;
	border-radius: 50%;
	position: relative;
	top: 15px;
}
.comment-name{
	display: inline-block;
	line-height: 40px;
	margin: 10px;
}
.comment-card{
	background-color: #fbfbf9;
	padding:15px;
}
.comment-time{
	color: #ccc;
	margin: 10px;
}
.comment-content{
	height: 100px;
	text-align: center;
	line-height: 100px;
}
.comment-good{
	color: #ccc;
}
.comment-line{
	border: 1px solid #ccc;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: -15px;
	margin-left: -15px;

}
.comment-detail{
	padding: 10px;
}
