body{
	background-color: #fcfaf8;
	color: #666;
}

.headline {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.big-font {
	font-size: 2em;
	font-weight: 700;
}

.small-font {
	font-size: 0.9em;
}

.top-font {
	color: #ff8357;
}

.center-font {
	position: relative;
	top: 16px;
}
.main-box{
	width: 1700px;
}

/* 左侧导航 */

ul {
	padding: 0;
}

li {
	list-style: none;
}

.choice-box {
	background-color: #fcf5ef;
	padding: 30px 0px;
}

.img-head {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 100px;
}

.head_image {
	width: 100px;
	height: 100px;
}

.shop-name {
	text-align: center;
	color: #ff6531;
	padding: 10px;
}

.choice {
	text-align: center;
	padding: 20px;
	vertical-align: middle;
}
.choice a {
	text-decoration: none;
	color: #666;
}
.choice:hover>a {
	color: #ff6531;
}

#chosen {
	background-color: #fff;
}
#chosen>a {
	color: #ff6531;
}

/*----------------------------*/


.show-info{
	background-color: #fff;
	margin: 10px;
	padding: 10px;
}
.cube{
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #ff8357;
	box-shadow: 2px 2px 0 0 #ccc;
}
.line-title{
	font-size: 1.5em;
	color: #666;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
}
.edit{
	padding-left: 10px;
	color: #ff6531;
	cursor: pointer;
}
.li-line{
	padding: 10px;
	color: #666;
}
.li-title{
	padding-right:  10px;
}
.type{
	margin-left: 5px;
	margin-right: 5px;
}
.grey-font{
	color: #ccc
}
.advan{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
}
#edit-info-box1 ,#edit-info-box2, #edit-info-box3, #edit-info-box4, #edit-info-box5 {
	display: none;
}
.inline-input{
	width: 50%;
	display: inline-block;
}
.sub{
	width: 200px;
	padding: 10px;
	margin: 10px;
	background-color: #ff8357;
	color: #fff;
	border: none;
}

.add-box{
	width: 450px;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px; 
}
.text-input{
	width: 600px;
	height: 150px;
}